.page {
    height: 1036px;
    width: 796px;
}

.v2 h1 {
    color: white;
    background: black;
    padding: 4px;
    min-height: 16px;
}

.v2 h2 {
    padding: 4px;
    font-family: 'oldClaude';
    font-size: 14px;
    background: #bdbdbd;
    white-space: pre;
}

.v2 strong {
    font-size: 14px;
}