.version-one-shell .sidebar-shell {
    position: sticky;
    top: 0;
    height: 150px;
    width: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.version-one-shell .sidebar-shell button {
    text-align: left;
    margin-bottom: 15px;
}