.version-one-shell {
    display: flex;
}

.version-one-shell .page-shell .page {
    margin-bottom: 15px;
}

.version-one-shell .page-shell .page:last-child {
    margin-bottom: 0;
}

.version-one-shell .false-table span {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3px 5px;
}

.version-one-shell .false-table span:nth-child(odd) {
    background: lightgray;
}

.version-one-shell h2 {
    background: #900;
    color: white;
    padding: 3px 5px;
}

.version-one-shell h3 {
    background: #515151;
    color: white;
    font-family: 'OldClaude';
    padding: 3px 5px;
    font-size: 13px;
}

.download-banner {
    position: sticky;
    top: 0;
    width: 1000px;
    margin: 30px auto;
    padding: 8px 0;
    background: #b45f06;
    text-align: center;
    color: white;
    box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2), 0px 2px 6px 3px rgba(0, 0, 0, 0.14), 0px 2px 6px 3px rgba(0, 0, 0, 0.12);
}