.combat-skills-display-shell {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.combat-skills-display-shell h3 {
    text-align: center;
}

.combat-skills-display-shell .left {
    width: 155px;
}

.combat-skills-display-shell .right {
    width: calc(100% - 159px);
}

.workspace-button {
    border-radius: 0px;
    text-align: left;
    padding: 3px 5px;
    background: lightgray;
}

.workspace-button:hover {
    background: rgba(173, 216, 230);
    color: black;
}

.combat-skills-display-shell table {
    max-width: 100%;
}

.combat-skills-display-shell th {
    background: gray;
    color: white;
    font-family: 'OldClaude';
    font-size: 12px;
    padding: 3px 5px;
}

.combat-skills-display-shell tr, .combat-skills-display-shell tr input {
    text-align: center;
}

.combat-skills-display-shell tr>*:not(:has(input)), .combat-skills-display-shell tr>*>input {
    padding: 3px 5px;
}

.combat-skills-display-shell tr:nth-child(even) {
    background: lightgray;
}

.combat-skills-display-shell .total-row {
    border-top: 1px solid #515151;
}