.page {
    height: 1036px;
    width: 796px;
}

.v2 h1 {
    color: white;
    background: #323232;
    padding: 4px;
    min-height: 16px;
}

.v2 h2 {
    padding: 4px;
    font-family: 'oldClaude';
    font-size: 13px;
    background: #bdbdbd;
    white-space: pre;
}

.v2 strong {
    font-size: 14px;
}

.v2 .character-value {
    font-family: 'Kalam', cursive;
}

.v2 :where(input.character-value, textarea.character-value) {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.v2 :where(textarea.character-value) {
    resize: none;
    font-size: 15px;
    line-height: 1.2;
}

.v2 :where(input.character-value[type=number]) {
    appearance: textfield;
    -moz-appearance: textfield;
    padding: 0;
}

.v2 input.character-value::placeholder,
.v2 textarea.character-value::placeholder {
    color: transparent;
    opacity: 1;
}

.v2 :where(input.character-value:not(.border)) {
    height: 1.2em;
    font-size: 15px;
    line-height: 1.2;
}

.v2 :where(input.character-value:not(.border):placeholder-shown) {
    height: 17.38px;
}

.v2 input.border {
    border-bottom: 1px solid black;
    line-height: 1.1;
    min-height: 16.58px;
    font-size: 15px;
}
