.display-array-shell p:nth-child(even) {
    background: lightgray;
}

.display-array-shell p {
    height: 19px;
    overflow: hidden;
}

.display-array-shell .display-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-array-shell .display-pair:nth-child(even) {
    background: lightgray;
}

.display-array-shell .display-pair>p {
    background: unset;
}

.display-array-shell input {
    height: 17px;
}

.display-array-shell.single-item input {
    width: calc(100% - 4px);
}

.display-array-shell.multi-item input {
    width: calc(85% - 4px);
}

.display-array-shell.multi-item input:last-child {
    width: 15%;
    text-align: right;
}