.display-array-shell p:nth-child(even) {
    background: lightgray;
}

.display-array-shell p {
    height: 19px;
    overflow: hidden;
}

.display-array-shell .display-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-array-shell .display-pair:nth-child(even) {
    background: lightgray;
}

.display-array-shell .display-pair>p {
    background: unset;
}