.attacks-v2 .attack-row {
    display: flex;
}

.attacks-v2 .attack-row span {
    display: flex;
    align-items: center;
    width: 33%;
    box-sizing: border-box;
}

.attacks-v2 .attack-row em {
    padding-right: 4px;
}

.attacks-v2 .attack-block > div:nth-child(odd) {
    background: #f3f3f3;
}

.attacks-v2 .attack-block h2,
.attacks-v2 .attack-block > input:first-child {
    min-height: 17.38px;
}

.attacks-v2 .attack-block > input:first-child {
    font-size: 12px;
    padding: 2px 4px 0;
    letter-spacing: 1px;
    white-space: pre;
    line-height: 1;
    height: 17.38px;
    min-height: 17.38px;
    width: calc(100% - 8px);
}

.v2 .view-edit .attacks-v2 .attack-block > input:first-child {
    background: rgb(159, 199, 212) !important;
}

.v2 .view-edit .attacks-v2 .attack-block > input:first-child:hover {
    background: rgb(145, 181, 194) !important;
}

.v2 .view-edit .attacks-v2 .attack-row input,
.v2 .view-edit .attacks-v2 .attack-row input:hover,
.v2 .view-edit .attacks-v2 .attack-notes textarea,
.v2 .view-edit .attacks-v2 .attack-notes textarea:hover {
    background-clip: content-box !important;
}

.v2 .view-edit .attacks-v2 .attack-row input,
.v2 .view-edit .attacks-v2 .attack-row input:hover,
.v2 .view-edit .attacks-v2 .attack-notes textarea,
.v2 .view-edit .attacks-v2 .attack-notes textarea:hover {
    background-clip: content-box !important;
}

.attacks-v2 .attack-row p,
.attacks-v2 .attack-row input {
    width: 100%;
    min-width: 0;
    min-height: 17.38px;
    padding: 2px 1px;
    box-sizing: border-box;
    background-clip: content-box;
}

.attacks-v2 .attack-row p {
    height: 17.38px;
}

.attacks-v2 .attack-notes p,
.attacks-v2 .attack-notes textarea {
    min-height: calc(2 * 17.38px);
    padding: 2px 1px;
    box-sizing: border-box;
    background-clip: content-box;
}

.attacks-v2 .attack-notes textarea {
    width: 100%;
    height: calc(2 * 17.38px);
    min-width: 0;
}
