.home-shell .card:first-child {
    margin-bottom: 15px;
}

.home-shell-heading {
    background: #515151;
    margin: -16px -16px 0;
    padding: 8px 16px;
    display: flex;
}

.home-shell-heading h1, .home-shell-heading i {
    color: white;
    font-size: 25px;
}

.home-shell-heading h1 {
    margin-left: 10px;
}