

.page-one .characteristics-shell {
    margin-top: 10px;
}

.integrity-shell {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.integrity-shell input {
    width: 25px;
    text-align: center;
}

.integrity-shell>span {
    display: flex;
    align-items: center;
}

.integrity-shell>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.integrity-shell .circle {
    position: absolute;
    border-radius: 10px;
    border: 2px solid black;
    height: 18px;
    width: 28px;
}

.integrity-shell p {
    font-family: 'OldClaude';
    padding: 3px;
    font-size: 13px;
}

.integrity-shell>div p:nth-child(even) {
    background: lightgray;
}

.characteristics-columns {
    display: flex;
}

.characteristics-columns>.right, .characteristics-columns>.left {
    width: 50%;
}

.characteristics-columns>.left {
    border-right: 1px solid #515151;
}

.characteristics-columns .cultural-strength-shell p {
    padding-left: 5px;
}

.cultural-strength-shell input {
    height: 17px;
    width: calc(100% - 4px);
}

.reputation-item-shell {
    display: flex;
}

.reputation-title-shell {
    display: flex;
    flex-direction: column;
}

.reputation-title-shell strong {
    padding-right: 5px;
    height: 19px;
    width: 75px;
}

.reputation-shell .reputation-title-shell strong:nth-child(even) {
    background: lightgray;
}

.reputation-shell .display-array-shell {
    width: calc(100% - 75px);
}

.reputation-shell>.display-array-shell p {
    min-height: 17px;
}