.favor-display-shell, .v-n-n-calc-display-shell {
    display: flex;
    flex-direction: column;
}

.v-n-n-calc-display-shell {
    border: 1px solid #515151;
    margin-top: 5px;
}

.favor-display-shell span, .v-n-n-calc-display-shell span {
    display: flex;
}

.favor-display-shell span>*, .v-n-n-calc-display-shell span>* {
    width: 50%;
}

.favor-display-shell span h3 {
    background: #990000;
    border: 1px solid #990000;
}

.favor-display-shell span strong, .v-n-n-calc-display-shell span strong {
    padding: 3px 5px;
}

.v-n-n-calc-display-shell span strong {
    font-weight: unset;
}

.favor-display-shell span i, .favor-display-shell span p, .favor-display-shell span input, .v-n-n-calc-display-shell span p {
    text-align: center;
}

.favor-display-shell span:first-child input, .favor-display-shell span:first-child p {
    border: 1px solid #990000;
}

.ranged-display-shell span p, .ranged-display-shell span input {
    text-align: center;
    width: 33%;
}

.view-edit .favor-display-shell>span>i {
    background: rgba(173, 216, 230);
    padding: 0 2px;
    cursor: pointer;
}

.view-edit .favor-display-shell>span>i:hover {
    background: rgb(145, 181, 194)
}

.v-n-n-calc-display-shell span:nth-child(even) {
    background: lightgray;
}

.v-n-n-calc-display-shell input {
    text-align: center;
}