.social-suites-v2 {
    display: flex;
    justify-content: space-between;
}

.social-suites-v2>div {
    width: 50%;
}

.social-suites-v2>div:first-child {
    border-right: 1px solid;
}

.social-suites-v2>div>span {
    display: flex;
}

.social-suites-v2>div>span:nth-child(odd) {
    background: #f3f3f3;
}

.social-suites-v2>div>span * {
    text-align: center;
    min-width: 15%;
    padding: 4px 4px 0;
    border-left: 1px solid #bdbdbd;
}

.social-suites-v2>div>span *:first-child {
    text-align: left;
    width: 70%;
    border-left: unset;
}

.social-suites-v2 .description-row *:first-child {
    width: 85%;
}

.social-suites-v2 .suite-title {
    border-bottom: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd;
}