.page-one .left {
    width: 100%;
    margin: 5px 5px 0 0;
}

.page-one .left .flex-pair {
    display: flex;
    justify-content: space-between;
}

.page-one .left .stats-shell {
    width: 32%;
}

.page-one .left .movement-shell {
    width: 66%;
}

.stats-shell.false-table span>* {
    width: 45%;
    text-align: center;
}

.version-one-shell .movement-shell.false-table span {
    justify-content: start;
}

.movement-shell.false-table span strong {
    text-align: left;
    font-weight: unset;
    width: 25%;
}

.movement-shell.false-table span p {
    text-align: center;
    width: 25%;
}

.movement-shell.false-table span strong:last-child {
    width: 45%;
}

.page-one .characteristics-shell {
    margin-top: 10px;
}

.integrity-shell {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.integrity-shell input {
    width: 25px;
    text-align: center;
}

.integrity-shell>span {
    padding: 3px 3px;
    display: flex;
    align-items: center;
}

.integrity-shell>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.integrity-shell .circle {
    position: absolute;
    border-radius: 10px;
    border: 2px solid black;
    height: 18px;
    width: 28px;
}

.integrity-shell p {
    font-family: 'OldClaude';
    padding: 3px;
    font-size: 13px;
}

.integrity-shell>div p:nth-child(even) {
    background: lightgray;
}