.page-type-two {
    display: flex;
    flex-direction: column;
}

.page-type-two .double-column {
    gap: 15px;
}

.page-type-two .left-column,
.page-type-two .right-column {
    width: calc(50% - 7.5px);
    min-width: 0;
    box-sizing: border-box;
}
