.characteristics-display-v2 .current-emotions-v2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.characteristics-display-v2 .current-emotions-v2 p {
    border: 1px solid #bdbdbd;
    padding: 4px 4px 0;
    min-height: 17.38px;
}
