.characteristics-display-v2 .current-emotions-v2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 44.38px;
}

.characteristics-display-v2 .current-emotions-v2 > span {
    width: calc(33.33% - 8px);
    box-sizing: border-box;
}

.characteristics-display-v2 .current-emotions-v2 > span p,
.characteristics-display-v2 .current-emotions-v2 > span input {
    min-height: 17.38px;
    width: 100%;
    min-width: 0;
    padding: 2px 1px;
    box-sizing: border-box;
    background-clip: content-box;
}

.characteristics-display-v2 .current-emotions-v2 > span:nth-child(even) {
    background: #f3f3f3;
}

.v2 .view-edit .current-emotions-v2 > span:nth-child(even) input {
    background: rgb(159, 199, 212) !important;
}

.v2 .view-edit .current-emotions-v2 > span:nth-child(even) input:hover {
    background: rgb(145, 181, 194) !important;
}

.v2 .view-edit .current-emotions-v2 input,
.v2 .view-edit .current-emotions-v2 input:hover {
    background-clip: content-box !important;
}
