.characteristics-display-v2 .current-emotions-v2 {
    display: flex;
    flex-wrap: wrap;
}

.characteristics-display-v2 .current-emotions-v2 p {
    padding: 4px 4px 0;
    min-height: 17.38px;
    width: calc(33.33% - 8px);
}

.characteristics-display-v2 .current-emotions-v2 p:nth-child(even) {
    background: #f3f3f3;
}