.page-type-two-notes > p,
.page-type-two-notes > textarea {
    min-height: calc(16 * 17.38px);
    padding: 0 1px;
    box-sizing: border-box;
    white-space: pre-wrap;
    background-color: transparent;
    background-image: repeating-linear-gradient(
        to bottom,
        #fff 0,
        #fff 17.38px,
        #f3f3f3 17.38px,
        #f3f3f3 34.76px
    );
    background-attachment: local;
}

.page-type-two-notes > textarea {
    width: 100%;
    height: calc(16 * 17.38px);
}

.v2 .view-edit .page-type-two-notes > textarea,
.v2 .view-quick-edit .page-type-two-notes > textarea,
.v2 .page-type-two-notes > p,
.v2 .page-type-two-notes > textarea {
    background-color: transparent !important;
    background-image: repeating-linear-gradient(
        to bottom,
        #fff 0,
        #fff 17.38px,
        #f3f3f3 17.38px,
        #f3f3f3 34.76px
    ) !important;
    background-attachment: local !important;
}

.v2 .view-edit .page-type-two-notes > textarea:hover,
.v2 .view-quick-edit .page-type-two-notes > textarea:hover {
    background-color: transparent !important;
    background-image:
        linear-gradient(rgba(145, 181, 194, 0.35), rgba(145, 181, 194, 0.35)),
        repeating-linear-gradient(
            to bottom,
            #fff 0,
            #fff 17.38px,
            #f3f3f3 17.38px,
            #f3f3f3 34.76px
        ) !important;
    background-attachment: local !important;
}
