.combat-skills-area-shell {
    margin-left: 10px;
    width: 225px;
    border-right: 2px solid #515151;
}

.stats-and-martial-adept-shell>div {
    display: flex;
    justify-content: space-between;
}

.stats-and-martial-adept-shell>div>span {
    display: flex;
    align-items: center;
    width: 25%;
}

.stats-and-martial-adept-shell>div>span:nth-child(even) {
    background: lightgray;
}

.stats-and-martial-adept-shell>div>span>*, .stats-and-martial-adept-shell>span>* {
    width: 50%;
    padding: 1px;
}

.stats-and-martial-adept-shell p {
    text-align: center;
}

.stats-and-martial-adept-shell>span {
    display: flex;
    align-items: center;
    border-top: 1px solid #515151;
    padding: 1px 3px;
}

.combat-skill-suites-shell>span {
    display: flex;
    align-items: center;
}

.combat-skill-suites-shell>span:nth-child(odd) {
    background: lightgray;
}

.combat-skill-suites-shell>span>* {
    text-align: center;
    width: 20%;
}

.combat-skill-suites-shell>span>*:first-child {
    width: 50%;
    text-align: left;
}