.combat-skills-area-shell {
    margin-left: 10px;
    display: flex;
}

.combat-skills-area-shell>div:first-child {
    width: 225px;
    border-right: 2px solid #515151;
}

.stats-and-martial-adept-shell>div {
    display: flex;
    justify-content: space-between;
}

.stats-and-martial-adept-shell>div>span {
    display: flex;
    align-items: center;
    width: 25%;
}

.stats-and-martial-adept-shell>div>span:nth-child(even) {
    background: lightgray;
}

.stats-and-martial-adept-shell>div>span>*, .stats-and-martial-adept-shell>span>* {
    width: 50%;
    padding: 1px;
}

.stats-and-martial-adept-shell p {
    text-align: center;
}

.stats-and-martial-adept-shell>span {
    display: flex;
    align-items: center;
    border-top: 1px solid #515151;
    padding: 1px 3px;
}

.combat-skill-suites-shell>span {
    display: flex;
    align-items: center;
}

.combat-skill-suites-shell>span:nth-child(odd) {
    background: lightgray;
}

.combat-skill-suites-shell>span>* {
    text-align: center;
    width: 20%;
}

.combat-skill-suites-shell>span>*:first-child {
    width: 51%;
    text-align: left;
}

.combat-adv-skills-shell {
    width: calc(100% - 227px);
}

.combat-adv-skills-shell>div {
    display: flex;
}

.combat-adv-skills-shell>div>span {
    width: 50%;
    display: flex;
}

.combat-advanced-skill-shell {
    flex-direction: column;
    flex-wrap: wrap;
    height: 162px;
}

.combat-advanced-skill-row {
    width: 50%
}

.combat-advanced-skill-row:nth-child(even) {
    background: lightgray;
}

.combat-adv-skills-shell>div>span>h3, .combat-advanced-skill-row>p {
    width: 15%;
    text-align: center;
}

.combat-advanced-skill-row>p {
    padding: 0 5px;
}

.combat-adv-skills-shell>div>span>h3:first-child, .combat-advanced-skill-row>p:first-child {
    width: 56%;
    text-align: left;
}

.null-advanced-combat-skill-row {
    height: 18px;
}