.favor-v2 .favor-body {
    display: flex;
    min-height: 48px;
}

.favor-v2 .favor-left {
    width: 71%;
}

.favor-v2 .favor-prompt {
    padding: 6px 4px;
    font-family: "Source Sans 3", sans-serif;
    font-style: italic;
    font-size: 13px;
}

.favor-v2 .favor-left > p,
.favor-v2 .favor-left > textarea {
    min-height: calc(2 * 17.38px);
}

.favor-v2 .favor-left > textarea {
    width: 100%;
    height: calc(2 * 17.38px);
}

.favor-v2 .favor-track {
    width: 31%;
    border-left: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.favor-v2 .favor-track > p,
.favor-v2 .favor-track > input {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
}

.favor-v2 .favor-track > :nth-child(3) {
    background: #f3f3f3;
}

.favor-v2 .favor-track > span:not(.anointed-row) {
    padding: 0 4px;
}

.favor-v2 .anointed-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 4px;
}

.favor-v2 .anointed-box {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 6px;
}

.favor-v2 .anointed-box.checked {
    background: black;
}

.v2 .view-edit .favor-v2 .anointed-box {
    cursor: pointer;
    background: rgba(173, 216, 230) !important;
}

.v2 .view-edit .favor-v2 .anointed-box:hover {
    background: rgb(145, 181, 194) !important;
}

.v2 .view-edit .favor-v2 .anointed-box.checked,
.v2 .view-edit .favor-v2 .anointed-box.checked:hover {
    background: black !important;
}
