.page-one .page-one-columns {
    display: flex;
}

.page-one .page-one-columns .right {
    background: lightblue;
    min-width: 325px;
    height: 150px;
    margin-top: -20px;
}

.page-one .abilities-and-burdens-shell {
    background: lightgreen;
}

.page-one h2 {
    background: #900;
    color: white;
    padding: 3px 5px;
}