.nerve-categories-shell {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nerve-categories-shell span {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    min-height: 18px;
}

.nerve-categories-shell span:nth-child(even) {
    background: lightgray;
}

.nerve-categories-shell .circle {
    position: absolute;
    top: 0;
    border: 2px solid black;
    border-radius: 10px;
    height: 20px;
    width: 21px;
}

.stress-n-relaxation-shell {
    display: flex;
}

.stress-n-relaxation-shell span {
    display: flex;
    align-items: center;
    min-height: 21px;
    width: 50%;
}

.stress-n-relaxation-shell span>* {
    width: 50%;
    padding: 3px 5px;
}

.stress-n-relaxation-shell span>input {
    text-align: center;
}

.edit-nerve>* {
    padding: 3px 5px;
}

.edit-nerve>input {
    width: calc(100% - 52px);
    text-align: center;
}