/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
  font-family: 'oldClaude';
  src: url('./assets/fonts/OldClaude.otf') format("opentype");
}

@font-face {
  font-family: 'HamletOrNot';
  src: url('./assets/fonts/HamletOrNot.ttf') format("truetype");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2 {
  font-family: 'HamletOrNot';
  letter-spacing: 1px;
}

p,
label {
  font-family: "Source Sans 3", sans-serif;
  font-size: 15px;
  min-height: 17.38px;
  line-height: 1.2;
}

p.border {
  line-height: 1.1;
  min-height: 16.58px;
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: unset;
  color: white
}

a:hover {
  color: #b45f06
}

strong {
  font-family: 'oldClaude';
  font-weight: bold;
  font-size: 12px;
}

em {
  font-family: 'oldClaude';
  font-size: 12px;
  white-space: pre;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
}

button:hover {
  background: #b45f06;
  color: white;
}

button.transparent-warn {
  background: transparent;
}

button.transparent-warn:hover {
  background: #990000;
  color: white;
}

button.warn {
  background: #990000;
  color: white;
}

button.warn:hover {
  background: #5a0000;
}

button.primary {
  background: #06465b;
  color: white;
}

button.primary:hover {
  background: #032530;
}

button.secondary {
  background: #b45f06;
  color: white
}

button.secondary:hover {
  background: #693804;
}

button.disabled {
  color: gray
}

button.disabled:hover {
  cursor: not-allowed;
}

input {
  border: unset;
  background: transparent;
}

input:hover {
  background: rgba(173, 216, 230) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

textarea {
  font-family: "Source Sans 3", sans-serif;
}

textarea:hover {
  background: rgba(173, 216, 230, 0.5) !important;
}

.view-quick-edit input,
.view-quick-edit textarea,
.view-quick-edit .fake-button,
.view-quick-edit button,
.view-edit input,
.view-edit textarea,
.view-edit .fake-button,
.view-edit button {
  background: rgba(173, 216, 230) !important;
}

.view-quick-edit input:hover,
.view-quick-edit textarea:hover,
.view-quick-edit .fake-button:hover,
.view-quick-edit button:hover,
.view-edit input:hover,
.view-edit textarea:hover,
.view-edit .fake-button:hover,
.view-edit button:hover {
  background: rgb(145, 181, 194) !important;
}

.fa-check {
  color: green
}

.fa-x {
  color: red
}

.center-text {
  text-align: center;
}