.stats-display-v2 {
    margin: 15px 0 0;
    display: flex;
    flex-direction: column;
}

.stats-display-v2>div {
    display: flex;
    justify-content: space-between;
}

.stats-display-v2>div:nth-child(odd) {
    background: #f3f3f3;
}

.stats-display-v2>div span {
    width: 33%;
    display: flex;
    align-items: center;
    padding: 3px;
}

.stats-display-v2>div strong {
    width: 25%;
}

.stats-display-v2>div p,
.stats-display-v2>div input {
    width: 75%;
    text-align: center;
    min-height: 18px;
    font-size: 15px;
    line-height: 1.2;
}