.combat-skills-v2 .skill-columns {
    display: flex;
}

.combat-skills-v2 .suites-col {
    width: 34%;
    box-sizing: border-box;
}

.combat-skills-v2 .adv-col {
    width: 66%;
    box-sizing: border-box;
}

.combat-skills-v2 .adv-headers {
    display: flex;
}

.combat-skills-v2 .adv-headers > span {
    width: 50%;
    box-sizing: border-box;
}

.combat-skills-v2 .adv-list {
    column-count: 2;
    column-fill: auto;
    column-gap: 0;
    height: calc(10 * 17.38px);
}

.combat-skills-v2 .suites-col > span,
.combat-skills-v2 .adv-headers > span,
.combat-skills-v2 .adv-list span {
    display: flex;
    break-inside: avoid;
}

.combat-skills-v2 .suites-col > span:nth-child(odd),
.combat-skills-v2 .adv-list > span:nth-child(odd) {
    background: #f3f3f3;
}

.combat-skills-v2 span > * {
    min-width: 0;
    padding: 2px 1px;
    box-sizing: border-box;
    background-clip: content-box;
    border-left: 1px solid #bdbdbd;
    min-height: 17.38px;
}

.combat-skills-v2 .suites-col span > *:first-child,
.combat-skills-v2 .adv-list span > *:first-child {
    text-align: left;
    width: 82%;
    border-left: unset;
}

.combat-skills-v2 .suites-col span > :nth-child(2),
.combat-skills-v2 .adv-list span > :nth-child(2) {
    width: 18%;
    text-align: center;
}

.combat-skills-v2 .adv-list span p,
.combat-skills-v2 .adv-list span input {
    min-height: 17.38px;
    height: 17.38px;
}

.combat-skills-v2 .skill-header h2 {
    padding: 4px;
    background-clip: border-box;
}

.combat-skills-v2 .discount-row > h2 {
    width: 82%;
    border-left: unset;
}

.v2 .view-edit .combat-skills-v2 .suites-col > span:nth-child(odd) input,
.v2 .view-edit .combat-skills-v2 .adv-list span:nth-child(odd) input {
    background: rgb(159, 199, 212) !important;
    background-clip: content-box !important;
}

.v2 .view-edit .combat-skills-v2 input:hover {
    background: rgb(145, 181, 194) !important;
    background-clip: content-box !important;
}

.v2 .view-edit .combat-skills-v2 input {
    background-clip: content-box !important;
}
