.gear-display-shell {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.gear-display-shell>span {
    display: flex;
}

.gear-display-shell>span h2 {
    width: 100%;
}

.coins-shell {
    display: flex;
}

.coins-shell>span {
    display: flex;
    align-items: center;
    width: 75px;
}

.coins-shell>span:nth-child(even), .gear-rows-shell>span:nth-child(even) {
    background: lightgray;
}

.coins-shell>span>* {
    padding: 3px 5px;
    width: 25%;
}

.coins-shell>span input {
    text-align: center;
    width: 75%;
}

.gear-rows-shell {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 122px;
}

.gear-header-row {
    flex-direction: row;
    height: unset;
}

.gear-rows-shell>span {
    width: 25%;
    display: flex;
    height: 17px;
}

.gear-rows-shell>span>input {
    padding: 1px 5px;
}

.gear-rows-shell>span>input:last-child, .gear-rows-shell>span>h3:last-child {
    width: 25%;
    text-align: center;
}

.gear-rows-shell>span>input:first-child, .gear-rows-shell>span>h3:first-child {
    width: 75%;
}

.gear-rows-shell .carry-info {
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
    width: calc(25% - 2px);
    min-height: 18px;
}

.gear-null-row {
    height: 17px;
}