.reputation-display-v2 > span {
    gap: 1px;
    display: flex;
    align-items: center;
}

.reputation-display-v2 > span:nth-child(odd) {
    background: #f3f3f3;
}

.reputation-display-v2 em {
    min-width: 88px;
}

.reputation-display-v2 > span > p,
.reputation-display-v2 > span > input {
    padding: 2px 1px;
    box-sizing: border-box;
    background-clip: content-box;
    min-height: 17.38px;
}

.reputation-display-v2 > span > p:first-of-type,
.reputation-display-v2 > span > input:nth-of-type(1) {
    width: 100%;
}

.reputation-display-v2 > span > p:last-of-type,
.reputation-display-v2 > span > input:nth-of-type(2) {
    min-width: 28px;
    text-align: center;
}

.reputation-display-v2 > span > input {
    min-width: 0;
    box-sizing: border-box;
}

.reputation-display-v2 > span > input:nth-of-type(2) {
    width: 28px;
}

.v2 .view-edit .reputation-display-v2 > span:nth-child(odd) input {
    background: rgb(159, 199, 212) !important;
}

.v2 .view-edit .reputation-display-v2 > span:nth-child(odd) input:hover {
    background: rgb(145, 181, 194) !important;
}

.v2 .view-edit .reputation-display-v2 input,
.v2 .view-edit .reputation-display-v2 input:hover {
    background-clip: content-box !important;
}
