.defenses-v2 {
    margin-top: 4px;
}

.defenses-v2 .defenses-header {
    display: flex;
    align-items: stretch;
}

.defenses-v2 .defenses-header > div {
    background: #f3f3f3;
}

.defenses-v2 .defenses-header span:first-child {
    width: 85%;
}

.defenses-v2 .defenses-header span:last-child {
    width: 16%;
    display: flex;
    flex-direction: column;
    background: #bdbdbd;
}

.defenses-v2 .defenses-header span h2 {
    min-height: 17.38px;
}

.defenses-v2 .defenses-header span>p {
    border: 1px solid #bdbdbd;
    align-items: center;
    justify-content: space-around;
    font-size: 23px;

}

.defenses-v2 .defenses-header em {
    padding: 2px 4px 0;
    text-align: right;
}

.defenses-v2 .defenses-header p {
    background: white;
    min-height: 17.38px;
}

.defenses-v2 .def-row,
.defenses-v2 .cover-row {
    display: flex;
    align-items: center;
}

.defenses-v2 .cover-row {
    background: #f3f3f3;
}

.defenses-v2 .def-row {
    padding: 2px 0;
}

.defenses-v2 .def-row em {
    width: 48%;
}

.defenses-v2 .def-row p {
    width: 14%;
    min-height: 17.38px;
}

.defenses-v2 .def-row span {
    padding: 0 3px;
}

.defenses-v2 .cover-row span {
    width: 33%;
    display: flex;
    align-items: center;
}

.defenses-v2 .cover-row em {
    padding-right: 4px;
}

.defenses-v2 .cover-row p {
    width: 100%;
    min-height: 17.38px;
}

.defenses-v2>p {
    min-height: calc(2 * 17.38px);
}