.armor-workspace-shell {
    border: 2px solid #515151;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.armor-workspace-shell>span {
    display: flex;
    align-items: center;
}

.armor-workspace-shell>span:nth-child(even) {
    background: lightgray;
}

.armor-workspace-shell>span>* {
    padding: 1px 5px;
    width: 50%;
}

.armor-workspace-shell>span>p {
    text-align: center;
}

.armor-workspace-shell>span.bonus-shell {
    position: relative;
    display: unset;
    height: 66px;
}

.armor-workspace-shell>span.bonus-shell p {
    position: absolute;
    top: 0;
    text-indent: 40px;
    width: calc(100% - 10px);
    text-align: left;
    font-size: 13px;
}

.armor-workspace-shell tr>*>* {
    width: 13px;
}
