.version-one-shell .sidebar-shell {
    position: sticky;
    top: 15px;
    height: 150px;
    width: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.version-one-shell .sidebar-shell button {
    text-align: left;
    margin-bottom: 15px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}