.flaws-v2 > span {
    padding: 2px 1px;
    display: flex;
}

.flaws-v2 > span:nth-child(odd) {
    background: #f3f3f3;
}

.flaws-v2 > span > p,
.flaws-v2 > span > input {
    min-height: 17.38px;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
}

.v2 .view-edit .flaws-v2 > span:nth-child(odd) input {
    background: rgb(159, 199, 212) !important;
}

.v2 .view-edit .flaws-v2 > span:nth-child(odd) input:hover {
    background: rgb(145, 181, 194) !important;
}
