.descriptions-v2 > span {
    padding: 4px 4px 0;
    display: flex;
}

.descriptions-v2 > span:nth-child(odd) {
    background: #f3f3f3;
}

.descriptions-v2 > span > p,
.descriptions-v2 > span > input {
    min-height: 17.38px;
    width: 100%;
}

.v2 .view-edit .descriptions-v2 > span:nth-child(odd) input {
    background: rgb(159, 199, 212) !important;
}

.v2 .view-edit .descriptions-v2 > span:nth-child(odd) input:hover {
    background: rgb(145, 181, 194) !important;
}
